*   
    {
        margin: 0;
        padding: 10px;
    }
h1{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #335755;
    font-size: 50p;
}
.blue 
    {
        display: flex;
        justify-content: space-between;
        background-color: #62CEFD;
        
    }
.purple 
    {
        display: flex;
        justify-content:space-around ;
        background-color:#C6A2AA;
    }    
.white
    {
        display: flex;
        justify-content: space-between;
        background-color:#FCFCFF;
    }        
img 
    {
        width: 13%;
        height: 10%;
    }    